body {
	font-family: 'Open Sans', sans-serif;
}

#calendari-farmacies td {
	font-weight: 800;
	font-size: 22px;
	color: #000;
}
#calendari-farmacies td span {
	display: block;
	font-weight: 300;
	font-size: 13px;
}

#calendari-farmacies .day {
	border-top: 5px solid #000;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: 0;
}

.esborra-guardia {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px !important;
	cursor: pointer;
}